tqdm==4.65.0
requests
pandas>=2.1
numpy>=1.21
datetime
plotnine>0.12
altair>=5
scrapy
langid
scikit-learn
sentence-transformers
openai
ipykernel

# Our own scripts (uncomment if we are using proper py package)
# ./scripts/